---
---

.gist table td {
  border: 0;
}

.site-header img {

  border-radius: 50%;
  float: left;
  margin: 6px 10px 6px 0;

}

img {

  border-radius: 2px;
  border: 1px #333 solid;

  &.alignleft {
    float: left;
    margin-right: 20px;
  }

  &.aligncenter {
    display: block;
    margin: 0 auto;
  }

}

.post-read-more-link {

  color: #ccc;

  &:visited {
    color: #bbb;
  }

}

.post-navigation {

  font-size: 14px;
  margin-top: 20px;

  a {

    color: #ccc;

    &:visited {
      color: #bbb;
    }

  }

}

.post-navigation-previous {
  float: right;
}

.comments {

  margin-bottom: 30px;

  .comments-title {
    font-weight: bold;
  }

}

.comment {

  font-size: 14px;
  margin-bottom: 20px;

  .comment-header {
    margin-bottom: 5px;
  }

  .comment-author {
    color: #999;
  }

  .comment-date {
    color: #ccc;
    float: right;
  }

  .comment-content {
    white-space: pre-wrap;
  }

}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}
