---
---

.gist table td {
  border: 0;
}

.site-header img {

  border-radius: 50%;
  float: left;
  margin: 6px 10px 6px 0;

}

img {

  border-radius: 2px;
  border: 1px #333 solid;

  &.alignleft {
    float: left;
    margin-right: 20px;
  }

  &.aligncenter {
    display: block;
    margin: 0 auto;
  }

}

.post-read-more-link {

  color: #ccc;

  &:visited {
    color: #bbb;
  }

}
