---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if page.comments.size > 0 -%}
  <section class="comments">
    <h3 class="comments-title">{{ page.comments | size | pluralize: 'comment', 'comments' }} comments</h3>
    {% for comment in page.comments %}
    <article class="comment">
      <header class="comment-header">
        <span class="comment-author">{{ comment.author }}</span>
        <time title="{{ comment.date }}" class="comment-date">
          {{ comment.date | date: "%b '%y" }}
        </time>
      </header>
      <div class="comment-content">
        {{ comment.content }}
      </div>
    </article>
    {% endfor %}
  </section>
  {%- elsif site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

  <div class="post-navigation">
    {% if page.next.url %}
    <a class="post-navigation-next" href="{{ page.next.url }}" title="{{ page.next.title }}">
      &larr; Newer Post
    </a>
    {% endif %}
    {% if page.previous.url %}
    <a class="post-navigation-previous" href="{{ page.previous.url }}" title="{{ page.previous.title }}">
      Older Post &rarr;
    </a>
    {% endif %}
    <div class="clearfix"></div>
  </div>

</article>
